                             U.S. DEPARTMENT OF AGRICULTURE
                                    WASHINGTON, DC 20250

                                                                  NUMBER:
     DEPARTMENTAL REGULATION                                      DR 2250-001
                                                                  DATE:
     SUBJECT: Imprest Funds Authorities and Requirements          September 30, 2020
     OPI: Office of the Chief Financial Officer – Fiscal Policy   EXPIRATION DATE:
     Division                                                     September 30, 2025




Section                                                                                   Page

1.    Purpose                                                                             1
2.    Special Instructions/Cancellations                                                  1
3.    Scope                                                                               2
4.    Policy                                                                              2
5.    Roles and Responsibilities                                                          4
6.    Inquiries                                                                           5

Appendix A – Acronyms and Abbreviations                                                   A-1
Appendix B – Definitions                                                                  B-1
Appendix C – Authorities and References                                                   C-1



1. PURPOSE

      This Departmental Regulation (DR) requires that the Mission Areas and agencies of the
      United States Department of Agriculture (USDA) eliminate Mission Area and agency
      imprest funds except where waivers are approved. This DR provides waiver request and
      approval policy. This DR applies to both domestic and international imprest funds.


2. SPECIAL INSTRUCTIONS/CANCELLATIONS

      a.   This DR supersedes DR 2250-001, Imprest Fund Authorities and Requirements, dated
           August 11, 2003.

      b.   This DR replaces the semi-annual reporting requirement with a three-year reporting
           requirement. Since the Management of Federal Agency Disbursements, 31 Code of
           Federal Regulations (CFR) 208.4, Waivers, does not require semi-annual reporting, these
           changes will allow for better management of employee resources and reduces the
           reporting burden.
  c.   This DR is effectively immediately and remains in effect until superseded or expiration.

  d.   All Mission Areas and agencies will align their policies and procedures with this DR
       within 6 months of the publication date.


3. SCOPE

  This DR applies to USDA Mission Areas and agencies that must operate imprest funds.


4. POLICY

  USDA Mission Areas and agencies are required to eliminate Mission Area and agency
  imprest funds except for waived payments described below. Mission Areas and agencies
  may establish, maintain, and operate an imprest fund only if they meet the waiver criteria
  described in the US Department of Treasury’s, Treasury Financial Manual (TFM), Chapter
  3000, § 30170, Authority to Disburse Imprest Funds, Imprest Fund Implementation
  Guidance, and 31 CFR § 208.4. A Mission Area’s or agency’s primary payment
  mechanisms should be electronic funds transfer (EFT), as required by 31 CFR § 208. In
  addition, imprest funds may be approved for change making purposes when justified and no
  other source is available for change making. The maximum per-transaction spending limit
  for normal day-to-day cash expenditures is $500 or equivalent. Claims in excess of $500
  must have approval from the Mission Area or Agency Head.

  Purchase cards, convenience checks, and third-party drafts must not be used to establish,
  maintain, or replenish imprest funds. Purchase cards, convenience checks, and third-party
  drafts shall not be used to obtain cash for imprest funds directly, through employees, or
  through third parties.

  USDA Mission Areas and agencies that justify and receive approval for waivers must
  implement an internal Mission Areas or agency process and related procedures for
  establishing, maintaining, and operating imprest funds. The process and procedures must be
  in compliance with this DR and Treasury’s Imprest Fund Implementation Guidance, and 31
  CFR § 208.4. The internal Mission Area or agency imprest fund process must have the
  Office of the Chief Financial Officer’s (OCFO) oversight to ensure uniformity and
  consistency of imprest fund requests, operation, and reporting.

  The OCFO Fiscal Policy Division (FPD) Director’s approval of imprest fund waivers is
  based on the submission of a Mission Area’s or agency’s request, justification, and
  certification. The absence of any of the three items will jeopardize the approval of a waiver.
  All imprest fund waivers approved by OCFO’s FPD Director are active for 3 years.




                                               2
a.   Request for Waivers: USDA Mission Area Chief Financial Officers (CFO) and agency
     equivalents must submit imprest fund waiver requests to the Director of OCFO’s Fiscal
     Policy Division. Imprest funds may only be used when:

     (1) A payment by EFT is waived in accordance with the provisions of 31 CFR § 208.4;
         and

     (2) At least one other requirement described below in (a) through (e):

         (a) Payments involve national security interests, military operations, or national
             disasters;

         (b) Payments are made in furtherance of a law enforcement action;

         (c) The amount owed is less than $25;

         (d) The political, financial, or communications infrastructure of a foreign country
             does not support payment by a non-cash mechanism; and

         (e) Payments are made in emergencies or in mission critical circumstances that are
             of such an unusual and compelling urgency that the Federal Government would
             otherwise be seriously injured, unless payment is made by cash.

b.   Justification of Imprest Funds: Imprest fund waiver justifications must be completed by
     the Mission Area CFO or agency equivalent. The justifications must be by individual
     fund and include the following:

     (1) Imprest Fund location and if applicable, reference number;

     (2) The OCFO prior year approved balance;

     (3) Requested current fiscal year balance;

     (4) Number of Sub-Cashiers and amount of each;

     (5) Types of payments made from the fund; and

     (6) Treasury waiver(s) and reasons justifying the imprest fund.

c.   Certification of Imprest Funds: Mission Area CFOs and agency equivalents must certify
     annually whether their Mission Area or agency imprest funds are managed and operated
     in accordance with this DR and 31 CFR § 208.4. The certification may be all
     encompassing if all imprest funds are in compliance. If there are imprest funds not in
     compliance, the certification should identify and itemize the funds not in compliance,
     the reason(s) for noncompliance, and estimated compliance date:



                                            3
       (1) Certification of full reconciliation of fund balances;

       (2) The completion of cash verifications and audits; and

       (3) The revocation of Mission Area and agency cashiers that no longer have the
           authority to disburse funds.


5. ROLES AND RESPONSIBILITIES

  a.   Applicable USDA Mission Areas CFOs and agency equivalents will:

       (1) Request imprest fund waivers in accordance with the Treasury’s Imprest Fund
           Implementation Guidance, 31 CFR § 208.4, and this DR.

       (2) Complete imprest fund waiver justifications once every 3 years; providing Mission
           Areas and agencies submit an annual statement affirming that there have been no
           significant changes in their imprest funds in the subsequent years. These annual
           statements must include:

           (a) The number of Mission Area or agency imprest funds;

           (b) Total balance outstanding; and

           (c) Total number and dollar amount of transactions during the year. If there has
               been significant changes, Mission Areas and agencies must resubmit their
               waiver justification. Mission Areas and agencies are required to submit their
               certification annually. (The above deliverables will be due to the OCFO FPD
               on April 30th of the appropriate year.);

       (3) Ensure personnel are in full compliance with all applicable Treasury and
           Departmental imprest fund regulations; and

       (4) Implement an internal Mission Area or agency process and related procedures for
           establishing, maintaining, and operating imprest funds with oversight from Mission
           Area or agency headquarters.

  b.   The OCFO FPD Director will:

       (1) Review and analysis of requests, justifications, certifications, imprest fund balances,
           and annual statements;

       (2) Request annual statement for review and analysis;

       (3) Approve waivers in accordance with the Treasury’s Imprest Fund Implementation
           Guidance, 31 CFR § 208.4, and this DR; and

                                               4
      (4) Provide Departmental oversight and monitoring to ensure Mission Area and agency
          compliance with this DR. Oversight includes maintaining a tracking tool to ensure
          the 3-year reporting requirement is being met.


6. INQUIRIES

  Inquiries should be directed to the OCFO, FPD at SM.OCFO.FPDOCFO@usda.gov.



                                         -END-




                                            5
                                APPENDIX A

                  ACRONYMNS AND ABBREVIATIONS


CFO    Chief Financial Officer
CFR    Code of Federal Regulations
DR     Departmental Regulation
EFT    Electronic Funds Transfer
FPD    Fiscal Policy Division
OCFO   Office of the Chief Financial Officer
TFM    Treasury Financial Manual
USDA   United States Department of Agriculture




                                     A-1
                                     APPENDIX B

                                     DEFINITIONS


a. Electronic Funds Transfer. Any transfer of funds, other than a transaction originated by
   cash, check, or similar paper instrument that is initiated through an electronic terminal,
   telephone, computer, or magnetic tape, for the purpose of ordering, instructing, or
   authorizing a financial institution to debit or credit an account. The term includes but is
   not limited to, Automated Clearing House transfers, Fedwire transfers, and transfers
   made at automated teller machines and point-of-sale terminals. The term electronic funds
   transfer includes a credit card transaction. (Source: 31 CFR § 208.2, Definitions)

b. Imprest Fund. Fixed-cash or petty cash fund in the form of currency or coin that has been
   advanced to a cashier as “Funds Held Outside of Treasury.” (Source: TFM Chapter
   3000, § 30170)




                                           B-1
                                    APPENDIX C

                         AUTHORITIES AND REFERENCES



a.   Management of Federal Agency Disbursements, 31 CFR § 208, July 1, 2019

b.   U.S. Department of Treasury, Imprest Fund Implementation Guidance, 2019

c.   U.S. Department of Treasury, Treasury Financial Manual (TFM), Chapter 3000,
     Requirements for Scheduling Payments Disbursed by the Bureau of the Fiscal Service, §
     30170, Authority to Disburse Imprest Funds




                                         C-1
