                                      U.S. DEPARTMENT OF AGRICULTURE
                                             WASHINGTON, D.C. 20250


                                                                                      Number:
                      DEPARTMENTAL REGULATION
                                                                                      4720-001
SUBJECT                                                                DATE:
USDA Onboarding Requirements                                           June 3, 2011
                                                                       OPI:
                                                                       Office of Human Resources
                                                                       Management



Section                                                                                         Page

1         Purpose                                                                               1
2         Background                                                                            1
3         Definitions                                                                           1
4         Policy                                                                                2
5         Responsibilities                                                                      2
          Appendix A       - Template Tentative Job Offer Letter                                A-1
          Appendix B       - Template Final Job Offer Letter                                    B-1

1. PURPOSE

    This directive establishes the Department of Agriculture's (USDA) policy and framework for
    welcoming and orienting new employees throughout USDA to enable these employees to
    quickly become productive and successful.

2. BACKGROUND

    The USDA Cultural Transformation Initiative emphasizes the need for the development of
    an efficient and effective modern workforce. This directive creates a new uniform
    framework for onboarding new employees which will result in a more engaged and
    successful workforce.

3. DEFINITIONS

    Agency - An organizational unit of the Department, other than a Staff Office as defined
    below, whose head reports to an Under Secretary.

    Onboarding - is a business management process in which supervisors and others assist new
    employees to assimilate into their work environment and become productive employees.

    Staff Office - A Departmental administrative office whose head reports to the Secretary or to
                                                      1
  the Assistant Secretary for Administration.

  USDA's Onboarding Portal - is a central Web page, for use by all agencies, containing
  important information for supervisors, sponsors, and new employees regarding the
  onboarding process. Access to the Onboarding Portal homepage is at:
  http://www.dm.usda.gov/OBP.

  Onboarding checklist - is a tool to enable supervisors to ensure that important information is
  imparted to the new employee on a timely basis.

  EOD - "Entry On Duty" refers to the first day that new employee reports for duty at the
  employee’s agency.

  Orientation - is the process, beginning on the employee’s entry on duty day or during the
  employee’s first weeks, in which new employees are administered the Oath of Office,
  provided information related to their salary and other employment benefits, complete
  required new entrant forms and receive information about USDA’s mission, programs and
  policies.

  Sponsor - is a co-worker of the new employee (not the new employee's supervisor) who acts
  as a guide during the onboarding process.

4. POLICY

  USDA policy requires responsible stewardship of resources and accountability for the
  strategic management of human resources, including the successful acclimation of new
  employees into the workplace. To achieve this goal, USDA is establishing a uniform
  framework for orienting new employees to the workplace. Through this policy, USDA will
  develop and maintain a high performing and cohesive workforce that achieves its mission
  within budget and with the most efficient onboarding processes possible.

5. RESPONSIBILITIES

  a. Agency Heads are responsible for ensuring that:

      (1) Processes are in place for new employees to receive a welcome letter from their direct
          supervisors, preferably prior to their EOD date. Supervisors are required to provide
          their new employees with a welcome letter. Supervisors may use, as a model, the
          welcome letter template on the USDA Onboarding Portal at:
          http://www.dm.usda.gov/OBP/OBPSSponsor.htm. This letter is in addition to any
          offer letter or communication sent to the employee from the Human Resources
          Office. When new employees are notified of a reporting date that is less than a week
          in advance, the welcome letter is still required, but may be given to the new employee
          at the EOD orientation.

                                                2
(2) Agency Human Resources staff and supervisory staffs conduct an effective
    orientation program for new employees which offer participants the opportunity to
    further their knowledge about USDA, the agency they work for, and its stakeholders,
    while providing information to help new employees be more successful at USDA.

(3) Agencies use the template employment confirmation letter at Appendices A and B.

(4) Agencies allocate resources to ensure that their onboarding process complies with this
    Regulation.

(5) Agency staff use the USDA Onboarding Portal at: http://www.dm.usda.gov/OBP.
    The Onboarding Portal must be used by all agencies and staff offices as the primary
    source for onboarding new employees.

   (a) As the primary source of information, the USDA Onboarding Portal provides
       information (forms, program information, etc.). To avoid duplication, agencies
       may not include the same information on their agency’s new employee Web site.
       Agencies may, however, supplement on their own Web sites, agency-specific
       information for new employees.

   (b) Agency Web sites must be accessible through the USDA Onboarding Portal’s
       “My Agency Page”. Agency links from the My Agency Page must include links
       to the agency’s vision, mission and values, organizational chart, acronym list, and
       New Employee Information page. The New Employee Information page is the
       single portal to the agencies’ specific information for new employees.

   (c) Agency Web sites must be accessible to the general public.

   (d) Agencies are responsible for notifying the USDA Onboarding Portal owner of
       changes to links from the USDA Web site to their agency Web site.

   (e) Agency Human Resources personnel are required to include appropriate
       information about the Web site, including the Web site address, etc., in job offer
       letters (tentative and final).

   (f) Agency Human Resources personnel must encourage new employees to complete
       the required forms required for entry on duty day prior to the entry on duty date.
       Alternatively, in the event that the employee is unable to obtain or complete the
       forms prior to entry on duty day, the agency should provide the employee with the
       opportunity to complete and submit the forms on entry on duty day. Agency-
       specific forms must be available on the agency’s New Employee Information
       Web site.

(6) Agencies report progress in implementing this directive. This is a process
    improvement initiative and agencies are expected to report progress as indicated
                                        3
       below in subparagraph (a).

       (a) Agencies must submit quarterly reports regarding their onboarding program.
           Reports must be signed by the agency’s Director of Human Resources.

           1 These reports are due to the Provost of the USDA Virtual University on the
             15th of the month following the end of the quarter (reports would thus be due
             no later than January 15 th, April 15th, July 15th and October 15th). Reports
             must address how the agency has progressed in implementing each of the
             requirements of this regulation to include success, barriers, and what action
             was taken, or is recommended, to overcome the barrier.

          2 This reporting requirement expires when the Provost of the Virtual University
            notifies the agency that reporting is no longer required. It is anticipated that
            some agencies will complete their implementation of this regulation sooner
            than others and when that occurs, will be exempt from this reporting
            requirement.

b. Servicing Human Resource Offices are responsible for:

   (1) Working with employees to complete the following items, prior to the employee
       reporting for duty:

       (a) Background check which can be completed by the Federal Bureau of
           Investigation (FBI) or the Office of Personnel Management. The FBI offers a 24-
           hour turn-around basic background check. Consideration should be given to the
           agency’s needs regarding cost and timing for these options.

       (b) New employee training, available on the USDA Onboarding Portal.

       (c) Applicable forms available via the Onboarding Portal. When an does not have a
           personal computer, the HR specialist should explore options before deciding to
           mail forms to the individual. Some options to be considered include directing the
           applicant to the nearest USDA agency office where he or she can access,
           download to hard copy, and complete the information, using a computer at the
           local library, or using a computer at the nearest copy/computer store. Where there
           are costs associated with the use of a computer, agencies are authorized to
           reimburse the applicant for those costs. Alternatively, in the event that the
           employee is unable to complete the forms on a personal computer, the agency
           should mail the forms to the employee to complete.

    (2) Conducting, at a minimum, the following actions on the employee’s EOD day (if an
        office does not have its own Human Resources Staff, these actions should be
        completed by an appropriate employee/supervisor):

                                           4
        (a) Provide a warm welcome.

        (b) Verify that all mandatory first day forms are complete (e.g., I-9, emergency
            contact information).

        (c) Swear-in employee.

        (d) Provide a briefing on employee benefits. While an overview is acceptable, the
            goal of this requirement is to ensure the employee has enough information to
            begin to consider benefit options and ask appropriate questions prior to filing
            deadlines.

        (e) Provide a map and/or tour of the facility.

        (f) Begin, if not complete, the process of issuing an identification badge.

        (g) Review what the employee can expect during his or her first 60 days at USDA
            and the agency and provide written notification of any mandatory meetings.

c.   Supervisors are responsible for:

     (1) Being engaged in the hiring process for their new employee and being the primary
         owners of the onboarding component for their new employees. Specifically, this
         means that:

         (a) Supervisors are expected to welcome their new employees to USDA and to
             introduce them to the culture and values of their agency.

         (b) Supervisors must contact the employee prior to their entrance on duty to welcome
            them, preferably by telephone.

        (c) Supervisors are responsible for assigning a sponsor for all new employees. A
            sponsor is a co-worker of the new employee and may not be an individual in the
            employee’s supervisory chain of command, except when no other option exists.
            Sponsors may be “virtual” (i.e., available by telephone and/or e-mail) if they are
            located in a different geographic location than the new employee. When the
            sponsor is virtual, some duties required of the sponsor, as explained in the USDA
            Onboarding Portal at: http://www.dm.usda.gov/OBP/OBPSSponsor.htm, are
            waived by the supervisor when the supervisor appoints the sponsor. No waivers
            are permitted when the sponsor and the employee are in the same geographic
            locale.

        (d) Supervisors must use the standard USDA onboarding checklist on the USDA
            Onboarding Portal at: http://www.dm.usda.gov/OBP/OBPSSponsor.htm to track
            the employee’s onboarding progress. When complete, the checklist will be
                                            5
   maintained by the supervisor.

(e) Supervisors are expected to use the tools on the USDA Onboarding Portal at:
    http://www.dm.usda.gov/OBP/OBPIndex.htm to meet these requirements.


                                       END




                                   6
                                        Appendix A
                      TEMPLATE TENTATIVE JOB OFFER LETTER

                            NOTE: CUSTOMIZE UNDERLINED AREAS

[DATE]


Ms. Jane M. Doe.
1234 St. Elsewhere Place
Anywhere, 29605

Dear Ms. Doe:

    Congratulations, you have been tentatively selected for the Title, Series, Grade and salary
    (when available) position located with the U.S. Department of Agriculture, Agency,
    Department/Division, in City, State. This offer is tentative pending a favorable
    outcome of the following:

•   Completion of the OF 306 Declaration for Federal Employment. To obtain the form, go
    to www.dm.usda.gov/OBP/OBPForms.htm. Please download, complete, and fax to me
    at Fax Number. Please accomplish this as soon as possible but no later than two (2) days
    from receipt of this letter. You will need to bring the original with you when you report
    for duty.

•    All Background Investigations include a minimum of a Federal Bureau of Investigation
     (FBI) National Criminal History Check (fingerprint check).
    Final approval of your appointment, which will result in a permanent offer of
    employment, is contingent upon the favorable results of the fingerprint check. Retention
    in this position is contingent on a favorable background investigation.
    This position requires a (select type of investigation) investigation.

    Low Risk/Non-Sensitive -- National Agency Check with Written Inquiries (NACI) OR
    Moderate Risk / Public Trust -- Minimum Background Investigation - (MBI) OR
    High Risk / Public Trust - Background Investigation - (BI) OR
    Noncritical-Sensitive National Security (with access to classified information at the
    Confidential or Secret levels) -- Access National Agencies Check with Inquiries
    Investigation (ANACI) OR
    Critical-Sensitive National Security (with access to classified information at the Secret or
    Top Secret level) requiring a Single Scope Background Investigation - (SSBI) OR
    Special Sensitive National Security Investigation with SCI or other Special Access to
    classified information requiring a Single Scope Background Investigation or Presidential
    appointee - (SSBI)
                                            A-1
       (For Appointment Above the Minimum Only)
   •    Receipt of two (2) copies of your latest Leave and Earning Statement for salary
        verification, which can be faxed to me at Fax Number. This will be utilized to determine
        whether your salary may be set above the minimum rate of the grade.

       (For positions requiring a Financial Disclosure Form)
   •   In accordance with the Office of Government Ethics regulations at 5 CFR
       2634.904(a)(1), this position will require you to file a report of your financial interests at
       the time you report for duty and annually thereafter. To obtain the form go to
       www.usda.gov/ethics and click on the “Forms” tab and scroll down to OGE Form
       450, Confidential Financial Disclosure Report. If you have questions regarding
       completion of the form, please contact the following employee in the USDA Office of
       Ethics: give Ethics Specialist and contact number/email)

   •   (WDC or applicable office) Please contact either Specialist Name (area code) telephone
       number or Specialist Name at (area code) telephone number to schedule an appointment
       for the processing of your fingerprints. You should report to U.S. Department of
       Agriculture, 1400 Independence Avenue, SW (the entrance of the South Building at 14th
       and Independence Avenue), Washington, DC on the appointment date for completion of
       your fingerprinting process. Upon arrival, please have security contact HR Specialist or
       other appropriate contact.

       Note: If you will be traveling by Metro, get off at the Smithsonian Metro Station and
       exit via Independence Avenue, turn right and proceed to the 14th Street entrance.

   •   (Remote Activity) In order to begin the fingerprinting process, contact your
       local police station or other authorized fingerprint authority and arrange a time
       to have two (2) original sets of fingerprints completed on the SF-87s sent to
       you via FedEx. Please confirm your mailing address as shown above by
       return email. Upon completion of the fingerprints, please protect them and
       return via FedEx to the address below:

       Enter appropriate Personnel Security Office Address


If you have any questions or concerns you may contact me at HR Specialist/Assistant Phone
Number. In addition, please visit the USDA Onboarding Portal, at www.dm.usda.gov/OBP for
useful information about the USDA. I look forward to meeting you and hope you enjoy your
new position.

Sincerely,
HR Specialist/Assistant Signature block
cc: Emergency Preparedness Division (of your Agency) and new employee’s supervisor

                                               A-2
                                         Appendix B
                          TEMPLATE FINAL JOB OFFER LETTER

      NOTE: THE UNDERLINED AREAS REQUIRE AGENCY SPECIFIC ENTRIES

[DATE]


John M. Doe
1234 Somewhere Ave.
Anywhere, KS 66216

Dear Mr. Doe:

Welcome to the Agency [Insert employee’s name]!
It is my pleasure to officially inform you that your fingerprint check was completed with
favorable results and to confirm your acceptance of our offer of permanent employment as a
Title, Grade, Series and Step, in the Agency, Department, Division, in City, State.

Your salary will be $Total Salary per annum (this includes locality pay). (Service Credit for
Annual Leave Accrual has been approved in the amount of Number of Years and Number of
Months.)

The type of appointment will be a (Career-Conditional/Career/Excepted
Appointment/Appointment Not to Exceed Date) appointment. This position is full time.

The effective date of your appointment is Date. On Monday, Date, please report directly to
Supervisor’s Name at 8:00 a.m. (unless otherwise discussed with him/her). His/her office is
located at Address, Floor, Suite or Room Number, City, State. After meeting with your
supervisor, please report to the Human Resources Division, enter address if separate location,
wherein you will complete the orientation process.

•   Please go to www.dm.usda.gov/OBP/OBPForms.htm to obtain access to the required forms.
    The Web site will indicate which forms you are required to complete. Please bring these
    forms with you when you report for duty.


•   HR Specialist/Assistant selects appropriate background investigation form.
    In order to complete the background investigation you will need to complete enter
    appropriate form name at www.dm.usda.gov/OBP/OBPForms.htm . Provide any specific
    instructions. Additional instructions will be provided after you enter on duty.


                                              B-1
•   If the clearance is a Secret/Top Secret/Confidential include the following paragraph:
    This appointment requires that you obtain and maintain a "type of clearance" security clearance
    entailing an in-depth background investigation taking a number of months. If you do not pass
    this clearance, your continued employment is not guaranteed.

    This appointment is subject to confirmation that you are eligible to work in the United States
    under the provisions of the Immigration Reform and Control Act of 1986. To confirm this, when
    you report for duty, please be prepared to provide your state driver’s license or state-issued
    identification card containing your photograph AND your original social security card or birth
    certificate. If you do not have these documents, please review the alternatives provided on the
    Form I-9, Employment Eligibility Verification, which you will be required to complete during
    your onboarding process.


•   (For positions requiring a Financial Disclosure Form)

    In accordance with the Office of Government Ethics regulations at 5 CFR 2634.904(a)(1), you
    are entering a position which requires you to file a report of your financial interests at the time
    you report for duty and annually thereafter. To obtain the form go to www.usda.gov/ethics and
    click on the “Forms” tab and then scroll down to OGE Form 450, Confidential Financial
    Disclosure Report. If you have questions regarding completion of the form, please contact the
    following employee in the USDA Office of Ethics: give Ethics Specialist and contact
    number/email).

    Please visit the USDA Onboarding Portal at www.dm.usda.gov/OBP for useful information on
    USDA, Agency, required forms, benefits, etc. If you have any questions, please call me at HR
    Specialist/Assistant number.

    Sincerely,

    HR Specialist/Assistant Signature block

    cc: new employee’s supervisor




                                                    B-2
