                         U.S. DEPARTMENT OF AGRICULTURE
                               WASHINGTON, D.C. 20250

                                                             NUMBER:
       DEPARTMENTAL REGULATION                               5090-003

SUBJECT:                                   DATE:   July 1, 1998
ANNUAL PROCUREMENT FORECAST
REQUIREMENTS                               OPI: Office of Small and
                                           Disadvantaged Business
                                           Utilization

1 PURPOSE

This regulation prescribes policies, responsibilities and
procedures for developing annual procurement forecasts.



2 BACKGROUND AND REFERENCES

            a In accordance with 15 U.S.C. 637(a)(12)c), the U.S.
            Department of Agriculture,(USDA) shall make available
            to   small businesses an annual forecast of
            procurement opportunities. This section provides that:
            "Each executive agency reporting to the Federal
            Procurement Data System contract actions with an
            aggregate value in excess of $50,000,000 in fiscal
            year 1988, or in any succeeding fiscal year, shall
            prepare a forecast of expected contract opportunities
            or classes of contract opportunities for the next and
            succeeding fiscal years that small business concerns,
            including those owned    and controlled by socially
            and economically disadvantaged     individuals are
            capable of performing. Such forecast shall be
            periodically revised during such year . . . ."



3 POLICY

USDA agencies and staff offices having contracting authority
shall prepare and submit, to the Director, Office of Small and
Disadvantaged Business Utilization (OSDBU), an annual
procurement forecast that reflects:
DR 5090-003                                              July 1, 1998


              a planned procurements for the procuring agency and
              for the agencies or staff offices that it services,
              and

              b goals established in the agency's annual small
              business preference plan for small, small
              disadvantaged, 8(a), and women-owned small businesses.



4 DEFINITIONS

              a Cognizant Head of Contracting Activity (HCA)

                        (1) HCA means the official who has overall
                        responsibility for managing the contracting
                        activity (i.e., Chief FS, Administrator,
                        Agricultural Research Service, etc.), or the
                        individual designated by such an official to
                        carry out the functions of the HCA.

                        (2) The head of an agency or staff office
                        having procurement authority and who is
                        responsible for establishing and reporting
                        on small business preference goals.

              b Agency Head

              The head of an agency or staff office that does not
              have      procurement authority but whose office
              generates contract requirements and who receives
              procurement services from a Cognizant HCA.

              c Procurement Forecast

              A projection of contract requirements to be initiated
              during    a fiscal year to carry out the mission of
              the organization.   The procurement forecast shall
              identify those contract requirements set aside for
              exclusive participation of small, small disadvantaged,
              8(a) and women-owned small businesses.



5 Exemptions

              None


                                       2
DR 5090-003                                              July 1, 1998




6 RESPONSIBILITIES

              a Cognizant HC

                        (1) Shall establish time frames for agency
                        heads serviced by the cognizant HCA to
                        submit procurement forecast for their
                        respective agencies in accordance with the
                        guidelines list in paragraph 7 below.

                        (2) Shall assemble procurement forecast,
                        assuring that it reflects small business
                        goals, and submit to Director, OSDBU by
                        August 15 of the reporting year.

                        (3) Revises annual forecast and submits to
                        Director, OSDBU by April 20.

                        (4) Appoint small business coordinator to
                        interface with      the Director, OSDBU for
                        the cognizant agency and to perform the
                        duties as stated in 6c below. Inform
                        Director, OSDBU of the appointment.

              b Agency Head

              Upon request of the HCA, prepare and submit a listing
              of contract requirements based on budget constraints
              and agency mission requirements. To the maximum extent
              practicable non-cognizant agency heads shall identify
              requirements that can be directed to small, small
              disadvantaged, 8(a) and women-owned small businesses.

              c Small Business Coordinator

                        (1) Coordinate, for the cognizant HCA, the
                        development and revision of the agency's
                        annual procurement forecast.

                        (2) Ensure that the procurement forecast is
                        sufficient to meet the procurement
                        preference program goals established by the
                        cognizant HCA.




                                    3
DR 5090-003                                              July 1, 1998


                        (3) Ensure that the procurement forecast is
                        submitted in   the format prescribed by the
                        Director, OSDBU. Forecast shall be submitted
                        to the Director, OSDBU in both written and
                        electronic forms.

              d Director of OSDBU

                        (1) Ensure the Department's forecast is
                        assembled and made available to the public
                        by October 1 of each Fiscal Year.

                        (2) Ensure forecast reflect small business
                        preference goals established by the
                        Department.

                        (3) Provide quarterly assessment to
                        Cognizant HCA, Under and Assistant
                        Secretaries. Quarterly assessments will be
                        given on January 30, April 30, July 30, and
                        October 30. The Assessment will provide an
                        overview of where the agency is in the
                        accomplishment of their goals; whether the
                        agency procurement forecast impacted agency
                        accomplishment; and identify potential
                        problems.

                        (4) For each Cognizant HCA, provide
                        quarterly report card of small business
                        preference program accomplishments to the
                        Assistant Secretary for Administration.



7 FORECASTING FOR FOOD COMMODITIES

Forecast for the procurement of food commodities rest with each
Cognizant HCA of the Farm Service Agency (FSA) and Agricultural
Marketing Service (AMS).



8 CRITICAL TIME FRAMES

       a July 15 - Director, OSDBU, shall provide Cognizant HCA
       with Forecast call Letter and copy of previous year
       forecast.


                                    4
DR 5090-003                                            July 1, 1998


       b July 15-August 15 - Cognizant HCA shall develop and
       submit forecast to Director, OSDBU. Forecast shall be
       submitted in the format listed at Appendix A. Appendix B
       may be used for food commodities purchased by FSA's Kansas
       City Commodity Office and AMS.

       c October I - Director, OSDBU, shall complete Department's
       Forecast and makes it available to the public.

       d March 15 - April 20 - Cognizant HCA shall revise forecast
       and submits to Director, OSDBU.



9 Source of Supply

The following shall be used in identifying the anticipated
source of supply for the product or service to be procured:

8(a) - Section 8(a) Set-Aside

SBSA - Small Business Set-Aside

SDB - Small Disadvantaged Business

WO - Women Owned Business

GSA/FSS - Federal Supply Schedule

C - Competitive

JWOD - Jacob-Wagner O'Day Act Firm

DO/TO-Man - Delivery/Task orders issued against mandatory
contracts

DO/TO-Non-Man - Delivery/Task orders issued against non-
mandatory      contracts

10 Price Ranges

The following ranges shall be used in specifying the
government's cost estimate for each anticipated procurement. No
actual dollars amounts should be used.

Less than $25,000 use "A"



                                  5
  DR 5090-003                                                July 1, 1998


  $25,001 to $100, 000 use "B"

  $100,001 to $250,000 "C"

  $250,0001 to $500,000 "D"

  $500,001 to $100,000 "E"

  $1,000,001 to $5,000,000 "F"

  $5,000,001 to $10,000,000 "G"

  Over $10,000,000 "H"

  -END-




  APPENDIX A

  FY________PROCUREMENT FORECAST

  AGENCY _______________________

Product Description      Source of        Anticipated Anticipated Location Sic
                                                                      of
                           Supply         Price Range Quarter of            Code
                                                                  Projected
                         (USE LIST)                      Award      Award




                                      6
DR 5090-003                               July 1, 1998




APPENDIX B

FY ____ PROCUREMENT FORECAST

AGENCY _____________________

PRODUCT DESCRIPTION                MIL.    Anticipate
                                   LBS.
                                           Price
                                           Range




                               7
DR 5090-003       July 1, 1998




              8
