                           U.S. DEPARTMENT OF AGRICULTURE
                                 WASHINGTON, D.C. 20250

                                                              Number:
 DEPARTMENTAL REGULATION DR 9500-013
                                                               DATE:
 SUBJECT: Conducting Analyses Under the Principles,           January 5, 2017
 Requirements, and Guidelines for Water and Land              OPI:
 Related Resources Implementation Studies and Federal         Natural Resources and
 Water Resource Investments                                   Environment



1. PURPOSE

  This Departmental Regulation (DR) provides U.S. Department of Agriculture (USDA) policy
  for analyzing Federal investments in water resources. The policy follows requirements set
  forth in the Council on Environmental Quality (CEQ) Principles and Requirements for
  Federal Investments in Water Resources (P&R) and Interagency Guidelines (IAG).


2. SPECIAL INSTRUCTIONS

  This DR is one portion of guidance on analyzing Federal investments in water resources. The
  remaining guidance is included in Departmental Manual (DM) 9500-013, Guidance for
  Conducting Analyses Under the Principles, Requirements, and Guidelines for Water and
  Land Related Resources Implementation Studies and Federal Water Resource Investments.


3. POLICY

  It is USDA policy to use the Principles, Requirements, and Guidelines for Water and Land
  Related Resources Implementation Studies (PR&G) as a common framework for evaluating
  USDA water resources investments. The requirements and procedures for implementing this
  policy are contained in this DR and DM 9500-013.


4. BACKGROUND

  Over the past three decades, certain Federal investments in projects that impacted water
  resources were analyzed under the Economic and Environmental Principles and Guidelines
  for Water and Related Land Resources Implementation Studies, commonly referred to as the
  “P&G.” This framework provided direction to Federal agencies when evaluating and
  selecting major water projects, that related directly to water resources, and it focused on the
  economic development impacts of those projects.
  With the passage of the Water Resources Development Act of 2007 (WRDA), Congress
  directed the Federal government to update this framework. To do so, CEQ led a process to
  establish new guidance to incorporate a more balanced consideration of economic, social,
  and environmental objectives. Based on consultation with CEQ, USDA has determined that
  this framework shall apply to the Farm Service Agency, Forest Service, Natural Resources
  Conservation Service, and the Rural Utilities Service.

  The intent of this DR and accompanying DM is to provide USDA’s covered agencies with
  the framework on how to implement the PR&G when analyzing water and land resource
  projects.

  The PR&G are a statement of Federal government policy and concern water resource
  activities receiving a Federal investment. The PR&G do not impose any legally binding
  requirements on Federal agencies, and do not create any rights in third parties. The PR&G
  do not create any right or benefit, substantive or procedural, enforceable at law or in equity
  by any party against the United States, or its Departments, agencies, entities, officers,
  employees, or agents, or any other person. Activities are subject to the availability of
  funding. Application of the PR&G is subject to financial thresholds and other exclusions or
  exemptions.


5. FEDERAL OBJECTIVE, GUIDING PRINCIPLES, AND GENERAL REQUIREMENTS
   OF THE PR&G

  The ultimate intent of a PR&G analysis is to ensure that consideration is given to the
  economic, social, and environmental effects of a potential water related activity, using
  appropriate techniques that capture more than just the monetized benefits of a project. The
  Federal Objective, as defined by the WRDA and included in the P&R, specifies that Federal
  water resource investments shall reflect national priorities, encourage economic
  development, and protect the environment by:

  a.   Seeking to maximize sustainable economic development;

  b.   Seeking to avoid the unwise use of floodplains and flood-prone areas and minimizing
       adverse impacts and vulnerabilities in any case in which a floodplain or flood-prone area
       must be used; and

  c.   Protecting and restoring the functions of natural systems and mitigating any unavoidable
       damage to natural systems.

  As defined in the P&R, sustainable is defined as the “creation and maintenance of conditions
  under which humans and nature can coexist in the present and into the future.” The P&R also
  defines unwise use of floodplains as “any action or change that has an unreasonable adverse
  effect on public health and safety, or an action that is incompatible with or adversely affects
  one or more floodplain functions that leads to a floodplain that is no longer self-sustaining.”



                                                 2
  The P&R establish a set of Guiding Principles and General Requirements that should be
  incorporated into the design and analysis of Federal investments in water resources. The
  Guiding Principles constitute the concepts that should consider when analyzing Federal
  investments in water resources and the General Requirements are topics that agencies must
  consider when analyzing Federal investments in water resources.

  Details on the exemptions, exclusions, and financial threshold for application of the PR&G
  are contained in DM 9500-013. Normal operations and maintenance, regulatory programs,
  research and monitoring activities, and emergency actions involving potential loss of life are
  excluded, as are projects with less than $10 million Federal investment, and Federal grant or
  funding programs costing less than $50 million annually. However, the cumulative effects of
  many small or routine actions may potentially require analysis. Exemptions are allowed
  when there is an equivalent evaluation process in place.
  Agencies covered by this DR and associated DM may require analysis of projects or
  programs below the threshold levels to meet Agency policy requirements.

  Additional information on the Federal Objective, Guiding Principles, and General
  Requirements can be found in DM 9500-013.


6. ROLES AND RESPONSIBILITIES

  a. The Under Secretary for Natural Resources and the Environment, or designee, shall
     oversee implementation of the PR&G analysis process and, where necessary, coordinate
     updates of any methods or procedures for conducting a PR&G analysis.

  b. The Chief Economist, or designee, shall resolve any disputes in economic methods used
     as part of a PR&G analysis.

  c. The Administrator, Farm Service Agency; Chief, Forest Service; Chief, Natural
     Resources Conservation Service; and Administrator, Rural Utilities Service, or their
     designees are responsible for implementing the PR&G and ensuring that the Federal
     Objective, Guiding Principles, and General Requirements are integrated into planning
     and evaluation processes that are encompassed by the PR&G.

  d. The following individuals and offices provide agency technical support for implementing
     the PR&G:

     (1) Farm Service Agency: Director, Economic and Policy Analysis

     (2) Forest Service: National Director, Watershed, Fish, Wildlife, Air and Rare Plants;
         and Director, Ecosystem Management Coordination.

     (3) Natural Resources Conservation Service: Associate Chief for Conservation




                                                3
       (4) Rural Utilities Service: Assistant Administrator, Water and Environmental Programs


7. ABBREVIATIONS

  ASP           Agency-Specific Procedures

  CEQ           Council on Environmental Quality

  DM            Departmental Manual

  DR            Departmental Regulation

  IAG           Interagency Guidelines

  P&G           Principles and Guidelines for Water and Related Land Resources
                Implementation Studies (1983)

  P&R           Principles and Requirements for Federal Investments in Water Resources (2013)

  PR&G          Principles, Requirements, and Guidelines for Water and Land Related
                Resources Implementation

  USDA          U.S. Department of Agriculture

  WRDA          Water Resources Development Act of 2007


8. REFERENCES

  Interagency Guidelines, December 2014

  Principles and Requirements for Federal Investments in Water Resources, March 2013

  Water Resources Development Act of 2007, November 8, 2007


                                             -END-




                                                 4
